<div class="container text-center">
   <h1 class="text text-danger mb-3">Movie Rental System</h1>
   <a class="btn btn-outline-primary" href="/movie/">Admin Site</a>
   <a class="btn btn-outline-success" href="/movie/list">Customer Site</a>
</div>
