<div class="container text-center">
   <h1 class="text text-danger mb-3">[ATN] Toy &amp; Game Shop<br>
      by Truong Tan Thanh
      <br>
      GCH1101</h1>
   <br><br>
   <a class="btn btn-outline-primary" href="/toy/">Admin Site</a>
   <br><br>
   <ul style="list-style-type: none; display: flex; justify-content: center; padding: 5px;">
      <li style="display: inline-block; float: left;">  <a class="btn btn-outline-success" href="/toy/list" style="margin-left: 20px;">Toy Store</a>  </li>
      <li style="display: inline-block; float: left;">  <a class="btn btn-outline-success" href="/game/list" style="margin-left: 100px;">Game Store</a>  </li>
      <li style="display: inline-block; float: left;">  <a class="btn btn-outline-success" href="/lego/list" style="margin-left: 100px;">Lego Store</a>  </li>
   </ul>
</div>
