<div class="container text-center">
   <h1 class="text text-danger mb-3">ATN Toy &amp; Game Shop</h1>
   <a class="btn btn-outline-primary" href="/toy/">Manage Toy</a>
   <a class="btn btn-outline-success" href="/toy/list">Customer Site</a>
   <br>
   <a class="btn btn-outline-primary" href="/game/">Manage Game</a>
   <a class="btn btn-outline-success" href="/game/list">Customer Site</a>
</div>
