<div class="container text-center mt-5 mb-10 col-md-6">
   <form class="card bg-light ml-3 mr-3" action="/lego/add" method="post">
      <h1 class="text text-primary mt-2 mb-2">Add New Lego</h1>
      <div class="form-group mt-3 mb-3">
         <label class="fw-bold" for="">Name</label>
         <input class="form-control" type="text" style="width: 80%; margin: 0 auto;" name="name" required>
      </div>
      <div class="form-group mt-3 mb-3">
         <label class="fw-bold" for="">Price</label>
         <input class="form-control" type="number" style="width: 80%; margin: 0 auto;" name="price" minlength="1" required>
      </div>
      <div class="form-group mt-3 mb-3">
         <label class="fw-bold" for="">Date</label>
         <input class="form-control" type="date" style="width: 80%; margin: 0 auto;" name="date" required>
      </div>
      <div class="form-group mt-3 mb-3">
         <label class="fw-bold" for="" >Image</label>
         <input class="form-control" type="text" style="width: 80%; margin: 0 auto;" name="image" required>
      </div>
         <div class="form-group mt-3 mb-3">
         <label class="fw-bold" for="" >Brand</label>
         <select name="brand" id="">
            <option value="Brand A">Brand A</option>
            <option value="Brand B">Brand B</option>
            <option value="Brand C">Brand C</option>
         </select>
      </div>
      <div class="form-group mt-3 mb-3">
         <input class="btn btn-danger" type="submit" value="Add">
      </div>
</form>
<br>
</div>
<div class="d-flex justify-content-center">
  <a href="/lego" class="btn btn-primary">Back</a>
</div>

